
<MudList Clickable="true">
    <MudListItem>
        <div class="d-flex flex-row">
            <MudCheckBox T="bool" />
            <div class="ml-6">
                <MudText Typo="Typo.subtitle1">Re:Office Meeting</MudText>
                <MudText Typo="Typo.subtitle2">Boss Mcbossman</MudText>
                <MudText Typo="Typo.body2">During the last meeting we discussed several points that i've summarized in this E-mail...</MudText>
            </div>
        </div>
    </MudListItem>
    <MudListItem>
        <div class="d-flex flex-row">
            <MudCheckBox T="bool" />
            <div class="ml-6">
                <MudText Typo="Typo.subtitle1">Lunch Meeting</MudText>
                <MudText Typo="Typo.subtitle2">Henon</MudText>
                <MudText Typo="Typo.body2">Would you be available for a lunch meeting as we have alot of git issues that needs resolving.</MudText>
            </div>
        </div>
    </MudListItem>
    <MudListItem>
        <div class="d-flex flex-row">
            <MudCheckBox T="bool" />
            <div class="ml-6">
                <MudText Typo="Typo.subtitle1">RE:RE:Job Opportunity</MudText>
                <MudText Typo="Typo.subtitle2">Headhunters INC</MudText>
                <MudText Typo="Typo.body2">A developer position just opened up at Newgrounds HQ and given your work on mudblazor, I think you’d be a great fit...</MudText>
            </div>
        </div>
    </MudListItem>
    <MudListItem>
        <div class="d-flex flex-row">
            <MudCheckBox T="bool" />
            <div class="ml-6">
                <MudText Typo="Typo.subtitle1">Development Update</MudText>
                <MudText Typo="Typo.subtitle2">Black Matter Pty Ltd</MudText>
                <MudText Typo="Typo.body2">This week we're pleased to be sharing with you our updated Early Access Roadmap for 2021!</MudText>
            </div>
        </div>
    </MudListItem>
    <MudListItem>
        <div class="d-flex flex-row">
            <MudCheckBox T="bool" />
            <div class="ml-6">
                <MudText Typo="Typo.subtitle1">IT servicedesk</MudText>
                <MudText Typo="Typo.subtitle2">Mudblazor INC</MudText>
                <MudText Typo="Typo.body2">Regarding "I can't login to my DashBoard account" It should be resolved now. </MudText>
            </div>
        </div>
    </MudListItem>
    <MudListItem>
        <div class="d-flex flex-row">
            <MudCheckBox T="bool" />
            <div class="ml-6">
                <MudText Typo="Typo.subtitle1">[Garderoben/MudBlazor] Final release!</MudText>
                <MudText Typo="Typo.subtitle2">Jonny Larsson@Github</MudText>
                <MudText Typo="Typo.body2">No more MudBlazor updates, development has met a screeching halt!</MudText>
            </div>
        </div>
    </MudListItem>
</MudList>
